.current-bill {
  align-items: center;
  background-image: url(../../../images/bill.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  height: 140px;
  justify-content: center;
  width: 100%;
}