.header {
    background: $bgcolor;
    background-image: url(../../../images/curve.svg);
    background-position: bottom;
    background-size: 100% 120px;
    background-repeat: no-repeat;
    font-size: 3em;
    line-height: 0;
    min-height: 200px;

    * {
        color: white;
    }
}

.label {
    font-size: 14px;
}

