.info-banner {
  align-items: center;
  color: white;
  background-color: #000;
  display: flex;
  min-height: 450px;
  position: relative;
  z-index: 0; 
  height: 50vh;

  &.top-banner {
    &::after {
      content: '';
      background: rgba( 0,0,0,0.4);
      background: linear-gradient(90deg, rgba(#000, .7) 0%, rgba(#000,.6) 33%, rgba(#000,.3) 50%, rgba(#000,0) 100%);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1;
    }
  }
  
 &__visual {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  &__content {
    width: 100%;
    &--align-left {text-align: left;}
    &--align-right {text-align: right;}
    z-index: 2;
  }
  
  &__title {
    font-size: 3em;
    font-weight: bold;
  }
  
  &__text {
    font-size: 1.5em;
  }
  
  &__title, &__text {
    color: white;
  }

   &__btn {
     font-size: 1em;
     margin-top: 12px;
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     position: relative;
     background: #bd0000;

      &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #9c0606;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 50%;
          transform-origin: 50%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
      }

      &:hover {
        &:before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
   }
}