.info-tile {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 14px;
    }

    &__item {
        background: $bgcolor;
        border-radius: 4px;
        color: white;
        padding: 14px;

        p {
            margin: 0;
        }
    }

    &__value {
        font-size: $font-size-h3;
        font-weight: bold;
    }

    // &__text {}
}

.tile-note {
    background: $bg-color-secondary;
    margin-bottom: 15px;
    padding: 15px;

    &--title {
        font-weight: bold;
    }

    &--detail {
        font-size: 0.8em;
        text-align: right;
        margin-bottom: 0;
    }
}
