// Mendix navigationlist with class: listcard

.listcard.mx-list.mx-navigationlist {
  display: grid;
  grid-gap: 15px;
  @media (min-width: $screen-sm) {
    grid-template-columns: 1fr 1fr;
  }
  .listcard__item.mx-navigationlist-item {
    align-items: center;
    background-color: white;
    border-radius: 0 4px 4px 0;
    border-bottom: 0;
    border-left: 5px solid $bgcolor;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    position: relative;
    &::after {
      border-radius: 0 4px 4px 0;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 6px 0px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity .3s ease-out;
      width: 100%;
    }
  
    &:hover {
      background-color: white;
      &::after {
        opacity: 1;
      }
      img {
        transform: scale(1.1) translateX(5px);
      }
    }

    img {
      transition: transform .3s ease-out;
    }
  }
}

