.radio-option.inline {
    .mx-radiogroup {
        flex-wrap: wrap;

        .radio {
            margin: 0;
            align-items: flex-start;
            justify-content: flex-start;
            flex: 0 0 72px;
            flex-direction: column;

            input {
                opacity: 0;
                position: absolute !important;
                left: -9999px;

                &[disabled] {

                    & + label,
                    & + label:before,
                    & + label:after {
                        cursor: not-allowed;
                    }
                }

                &:checked,
                &:not(checked) {
                    & + label:before {
                        content: "";
                        border: 1px solid $gray-primary;
                        border-radius: 4px;
                        background: #fff;
                        height: 72px;
                        width: 72px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 5px;
                    }
                }

                &:checked {
                    & + label:before {
                        border-color: $brand-info;
                        background-color: $brand-default;
                    }
                }
            }

            label {
                min-height: 100%;
                display: inline-flex;
                flex-direction: column;
                padding: 0;
                position: relative;
                align-content: flex-start;
                justify-content: flex-start;
                margin: 0;
                margin-right: 8px;
                margin-top: 5px;
                display: block;
                text-align: center;
            }
        }
    }
}

.radio-option {
    &--task {
        .radio {
            label:after {
                content: "";
                object-fit: contain;
                object-position: center;
                position: absolute;
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
                height: 72px;
                width: 72px;
                top: 0;
                left: 0;
            }
        }

        .radio:nth-child(1) {
            label:after {
                background-image: url(../../../images/todo.png);
            }
        }

        .radio:nth-child(2) {
            label:after {
                background-image: url(../../../images/running.png);
            }
        }

        .radio:nth-child(3) {
            label:after {
                background-image: url(../../../images/done.png);
            }
        }

        .radio:nth-child(4) {
            label:after {
                background-image: url(../../../images/assigned.png);
            }
        }
    }
}

.radio-option.inline.radio-option--priority {
    .mx-radiogroup {
        .radio {
            label:after {
                content: "";
                background-size: 50%;
                object-position: center;
                position: absolute;
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
                height: 72px;
                width: 72px;
                top: 0;
                left: 0;
            }

            input[value="High"] + label {
                &:after {
                    background-image: url(../../../images/high.svg);
                }
            }

            input[value="High"]:checked + label:before {
                border-color: $brand-danger;
            }

            input[value="Medium"] + label {
                &:after {
                    background-image: url(../../../images/medium.svg);
                }
            }

            input[value="Medium"]:checked + label:before {
                border-color: $brand-warning;
            }

            input[value="Low"] + label {
                &:after {
                    background-image: url(../../../images/low.svg);
                }
            }

            input[value="Low"]:checked + label:before {
                border-color: $brand-info;
            }
        }

    }
}

.radio-option.inline.radio-option--device {
    .mx-radiogroup {
        .radio {
            label:after {
                content: "";
                background-size: 50%;
                object-position: center;
                position: absolute;
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
                height: 72px;
                width: 72px;
                top: 0;
                left: 0;
            }

            input[value="Phone"] + label {
                &:after {
                    background-size: 30%;
                    background-image: url(../../../images/phone.svg);
                }
            }

            input[value="Tablet"] + label {
                &:after {
                    background-size: 50%;
                    background-image: url(../../../images/tablet.svg);
                }
            }


            input[value="Television"] + label {
                &:after {
                    background-size: 70%;
                    background-image: url(../../../images/desktop.svg);
                }
            }
        }

    }
}
