.layout-atlas .region-topbar {
  z-index: 5;
  .responsive-navigation-toggle-button {
    color: $font-base-color;
  }
  .responsive-navigation {
    @media (max-width: $screen-sm-max) {
      background-color: white;
      box-shadow: 2px 4px 4px rgba(0,0,0,0.12), 2px 4px 4px rgba(0,0,0,0.12);
      padding: 0;
      position: fixed;
      left: 0px;
      top: 60px;
      transform: translateX(-100%);
      transition: transform .2s ease;
      min-width: 250px;
      padding: 0;
      z-index: 99;
      .mx-navbar {
        margin-left: 0;
        width: 100%;
        .navbar-nav {
          width: 100%;
          .mx-navbar-item a {
            padding: 5px 20px 5px 20px;
            min-height: 50px;
          }
        }
      }
      &.opened {
        transform: translateX(0%);
      }
    }
  }
}