.mx-listview .mx-table td, .mx-listview .mx-table th {
  padding: 0;
  vertical-align: middle;
  p {margin-bottom: 0;}
}

.thead {
  color: lighten($font-color-default,15%);
  font-weight:bold;
}