.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font-base-color;
}

.text-primary,
.text-primary:hover {
    color: var($bgcolor, $brand-primary) !important;
}

.icon-up {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    &:before {
        margin-right: 0.2em;
        content: "";
        display: inline-block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
    }
}

.icon-down {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    &:before {
        margin-right: 0.2em;
        content: "";
        display: inline-block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid;
    }
}

.form-group .control-label {
    margin-bottom: 8px;
}

.form-control-static {
    background: #fafafa;
    border: 1px solid $gray-primary;
    font-weight: bold;
    color: $font-base-color;
    border-radius: 6px;
}

.mx-textarea {
    .form-control-static {
        min-height: 100px;
    }
}
