// css-variables
    $color-purple: #97367e;
    $color-red: #bd0000;
    $color-darkblue: #0092A8;
    $color-blue: #00B0CA;
    $color-grey: #969696;
    $color-green: #00ca7f;
    $color-lightgrey: lightgrey;
